{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>College Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
	<div class="container p-4 bg-secondary text-white text-center">
		<h2>LOGIN PAGE</h2>
	</div>

	<div class="container pt-3">
		<h3>Welcome User Please Fill the Form</h3>
		<hr>
	</div>
	<div class="container" style="width: 40%; margin-top: 50px; outline: 1px solid black; outline-offset: 8px;">
		<form action="{% url 'login_check' %}" method="post">
			{% csrf_token %}

			<h4>Login Form</h4>
			<hr>
			<div class="row">
				<div class="col-sm-12">
					<input type="text" name="username" class="form-control" placeholder="Enter Username">
				</div>
				<div class="col-sm-12 mt-3">
					<input type="password" name="password" class="form-control" placeholder="Enter Password">
				</div>
				<div class="col-sm-12 mt-3">
					<input type="submit" name="" class="btn btn-primary btn-sm btn-block" value="Sign-In">
				</div>
				<div class="col-sm-12 mt-3">
					<p>If you don't have account please <a href="">Sign-Up</a></p>
				</div>
				<div class="col-sm-12 mt-3">
					<p>Return To Main Page <a href="{% url 'main_page' %}">Home</a></p>
				</div>
			</div>
		</form>
	</div>

</body>
</html>